* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.container {
  width: 80%;
  padding: 20px;
  background: black;
}
.container h2 {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 900px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .section-1,
  .section-2 {
    width: 50%;
  }
}

.wrapper .box {
  width: 100%;
  position: relative;
  padding: 30px;
}

.wrapper .box input {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(40, 205, 245);
  transition: 0.5s linear;
}

.wrapper .box input:focus,
.wrapper .box input:valid {
  padding: 20px 10px;
  background: rgb(40, 205, 245);
  margin-top: 10px;
}
.wrapper .box label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}
.wrapper .box input:focus ~ label,
.wrapper .box input:valid ~ label {
  padding: 0;
}
.wrapper .box textarea {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(40, 205, 245);
  transition: 0.5s linear;
}
.wrapper .box textarea:focus,
.wrapper .box textarea:valid {
  padding: 20px 10px;
  background: rgb(40, 205, 245);
  margin-top: 10px;
}
.wrapper .box textarea:focus,
.wrapper .box textarea:valid {
  padding: 0;
}
.container input[type="submit"] {
  background: rgb(40, 205, 245);
  padding: 15px 30px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  padding: 30px;
}
